* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
/* common style */
.common-button{
    background-color: rgb(31, 31, 201);
    padding: 10px 25px;
    border-radius: 10px;
    border-style: none;
    color: white;
}

/* navbar style start */
nav {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    align-items: center;
    padding: 15px;
}

.nav-items-container{
    display: flex;
    list-style: none;
    gap: 25px;
}

a{
    text-decoration: none;
    color: #575757;
}


/* banner section */

.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("./assets/banner.jpg");
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
}


.banner-content{
    color: white;
    text-align: center;
}

.banner-content h1{
    font-size: 60px;
    margin-bottom: 20px;
}


.banner-content h1 span{
    font-style: italic;
}

.banner-content p{
    font-weight: 300;
    font-size: small;
}

.banner-content .banner-button{
    margin-top: 250px;
    /* margin-bottom: 30px; */
}

.speakers{
    margin-top: 50px;
    /* padding-bottom: 0; */
}

.speakers h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}
.speakers-parent{
    padding: 30px 8%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.speakers .speakers-parent img{
    width: 100%;
    border-radius: 5px;
}

.speakers-parent div{
    border: 1px solid rgb(231, 231, 231);
    border-radius: 10px;
}

.speakers-parent .speaker-category{
    color: rgb(37, 99, 235);
    margin: 15px 20px;
}

.speakers-parent h3{
    color: rgb(10, 10, 58);
    margin: 15px 20px;
}

.speakers-parent .speaker-title{
    color: #575757;
    margin: 15px 20px;
}